@import "../../../../style/variable";
@import "../../../../style/color";

.p_MySuggestionList {
  background: $bg_lighter_gray;
  padding: 40px 30px;
  .cr-mysuggestion-header .title {
    font-size: 30px;
  }
  .cr-mysuggestion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}